@using Lib.Services.Dtos;
@model AddUpdateSubscribersDto

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="modalCenterTitle">Add subscriber</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>
    <form id="addBookForm" method="post" action="/AddSubscriber" onsubmit="onSubscriberSubmit(this,event)">

        @Html.AntiForgeryToken()
        @Html.HiddenFor(s => s.Id)
        <div class="modal-body" id="modalCenterBody">
            <div class="mb-3">
                @Html.LabelFor(s=>s.Firstname,"Firstname",  htmlAttributes: new {@class= "form-label"})
                @Html.TextBoxFor(s=>s.Firstname, htmlAttributes: new {@class= "form-control", placeholder="Enter First Name"})
                @Html.ValidationMessageFor(s => s.Firstname, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                @Html.LabelFor(s=>s.Lastname,"Last Name", new {@class= "form-label"})
                @Html.TextBoxFor(s=>s.Lastname, htmlAttributes: new {@class= "form-control", placeholder="Enter Last Name"})
                @Html.ValidationMessageFor(s => s.Lastname, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <table>
                    <thead>
                        <tr>
                            <th>Available Books</th>
                            <th>Selected Books</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @foreach (var item in Model.AllBooks)
                                {
                                    <label>@item.Title</label>

                                    <br />
                                }
                            </td>
                            <td>
                                
                                @foreach (var item in Model.SelectedBooks)
                                {

                                    @Html.Hidden(nameof(Model.LoanedBooks), item.Id)
                                    
                                    <label>@item.Title</label>

                                    <br />
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>

