@model Lib.Services.Dtos.SubscribersDto

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>

    <div class="modal-body">

        <h5 class="modal-title" id="modalCenterTitle">Subscriber: @Model.Firstname @Model.Lastname</h5>
        <dl class="row mt-2">
            <dt class="col-sm-3">@Html.LabelFor(s=>s.Firstname)</dt>
            <dd class="col-sm-9">@Model.Firstname</dd>

            <dt class="col-sm-3">@Html.LabelFor(s=>s.Lastname)</dt>
            <dd class="col-sm-9">@Model.Lastname</dd>

            <dt class="col-sm-3">@Html.LabelFor(s=>s.CreatedAt)</dt>
            <dd class="col-sm-9">@Model.CreatedAt.Value.ToLocalTime().ToString("dd MMM yyyy")</dd>

            <dt class="col-sm-3">@Html.LabelFor(s=>s.UpdatedAt)</dt>
            <dd class="col-sm-9">@Model.UpdatedAt.Value.ToLocalTime().ToString("dd MMM yyyy")</dd>

        </dl>

        <h5 class="modal-title" id="modalCenterTitle">Loand Books</h5>
        <dl class="row mt-2">
            <dd >
                @for (int i = 0; i < Model.LoanedBooks.Count; i++)
                {
                     <div class="loanedbook">
                                <h3>
                                    @Model.LoanedBooks[i].Title
                                    <small>
                                        @Model.LoanedBooks[i].AuthorName
                                    </small>
                                </h3>
                        <label>Gener: </label><b>@Model.LoanedBooks[i].Genere</b>
                            </div>
                }

            </dd>

           

        </dl>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Close
        </button>
    </div>

</div>

