@model Lib.Services.Dtos.SubscribersDto

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="card-header">@Model.Firstname @Model.Lastname <small>
                Subscriber information
            </small>
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>

    <div class="modal-body padding-bt-none">

        <dl class="row mt-2">
            <dt class="col-sm-3">@Html.LabelFor(s=>s.Firstname)</dt>
            <dd class="col-sm-9">@Model.Firstname</dd>

            <dt class="col-sm-3">@Html.LabelFor(s=>s.Lastname)</dt>
            <dd class="col-sm-9">@Model.Lastname</dd>

            <dt class="col-sm-3">@Html.LabelFor(s=>s.CreatedAt)</dt>
            <dd class="col-sm-9">@Model.CreatedAt.Value.ToLocalTime().ToString("dd MMM yyyy")</dd>

            <dt class="col-sm-3">@Html.LabelFor(s=>s.UpdatedAt)</dt>
            <dd class="col-sm-9">@Model.UpdatedAt.Value.ToLocalTime().ToString("dd MMM yyyy")</dd>

        </dl>

        <br/>
        <h5 class="card-header">
            Subscriber Loand Books<small>
                Total: Model.LoanedBooks.Count
            </small>
        </h5>
        <dl class="row mt-2">
            <dd >
                @for (int i = 0; i < Model.LoanedBooks.Count; i++)
                {
                     <div class="loanedbook">
                         <i class="bx bx-book-content"></i>
                                <h3>
                                    @Model.LoanedBooks[i].Title
                                    <small>
                                        @Model.LoanedBooks[i].AuthorName
                                    </small>
                                </h3>
                       <span class="geners">
                            <label>Gener </label><b>@Model.LoanedBooks[i].Genere</b>
                       </span>
                            </div>
                }

            </dd>

           

        </dl>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn-sm  btn btn-outline-secondary" data-bs-dismiss="modal">
            Close
        </button>
    </div>

</div>

