@model Lib.Services.Dtos.GenersDto

@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header">
        <h5 class="card-header">
            @Model.Name
            <small>
                Genere information
            </small>
        </h5>

        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>

    <div class="modal-body padding-bt-none">
        <dl class="row mt-2">
            <dt class="col-sm-3">@Html.LabelFor(s=>s.Name)</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">@Html.LabelFor(s=>s.Description)</dt>
            <dd class="col-sm-9">@Model.Description</dd>
        </dl>


    </div>

    <div class="modal-footer">
        <button type="button" class="btn-sm btn btn-outline-secondary" data-bs-dismiss="modal">
            Close
        </button>
    </div>

</div>

